{{ define "main" }}

<h1>{{ .Title }}</h1>


<h4>daftar blog</h4>
<ul>
	 {{ range where .Site.RegularPages "Section" "blogs" }}

	 <li>
	 	<a href="{{.Permalink}}"> {{.Title}}</a>
	 	<span> {{.Date.Format "2006-01-02"}}</span>
	 </li>

	 {{ end }}
</ul>


<h4>daftar catatan</h4>
<ul>
	 {{ range where .Site.RegularPages "Section" "catatan" }}

	 <li>
	 	<a href="{{.Permalink}}"> {{.Title}}</a>
	 	<span> {{.Date.Format "2006-01-02"}}</span>
	 </li>

	 {{ end }}
</ul>

<div>
	<a href="{{.Site.Params.twitter}}">Twitter</a>
</div>
{{ end }}

