html,body {
  height : 100%;
  margin : 0px;
}


.modal {
	min-height: 100%;
}

.modal1 {
	
	display: flex;
  	justify-content: center;
  	align-items: center;

  	background-image: url("../img/bg.jpg"); /* The image used */
  	background-color: #cccccc; /* Used if the image is unavailable */
  	background-position: center; /* Center the image */
  	background-repeat: no-repeat; /* Do not repeat the image */
  	background-size: cover; /* Resize the background image to cover the entire container */
}

.isiModal1 p {
	text-align: center;
}

p.nama {
	color: #F795F0;
	font-size: 2.5em;
	margin-bottom: 0px;
}

p.brand {
	color : #DFDADA;
	margin-top: 2px;
	font-size: 1.7em;
	
}

@media screen and (max-width: 480px) { 

	p.nama {
	
	font-size: 1.7em;
	
	}

	p.brand {
	
	font-size: 1.2em;
	
	}

}