html,body {
  height : 100%;
  margin : 0px;
}


.modal {
	min-height: 100%;
}

.modal:nth-child(odd){
	background-color: #ECE9E8;
}
.modal:nth-child(even){
	background-color: coral;
}



.modal1 {
	
	display: flex;
  	justify-content: center;
  	align-items: center;

  	background-image: url("bg.jpg"); /* The image used */
  	background-color: #cccccc; /* Used if the image is unavailable */
  	background-position: center; /* Center the image */
  	background-repeat: no-repeat; /* Do not repeat the image */
  	background-size: cover; /* Resize the background image to cover the entire container */
}

.modal2 {

	background-image: linear-gradient(red, yellow, green);	

}

.isiModal1 {

	
}

.isiModal1 p {
	text-align: center;
}

p.nama {
	color: #F795F0;
	font-size: 2.5em;
	margin-bottom: 0px;
}

p.brand {
	color : #DFDADA;
	margin-top: 2px;
	font-size: 1.7em;
	
}

@media screen and (max-width: 480px) { 

	p.nama {
	
	font-size: 1.5em;
	
}

p.brand {
	
	margin-top: 1px;
	
	
}

}