html, body {
	
  	height : 100%;
  	margin : 0px;
}

body {
	background-image: url("../img/bg.jpg");
	background-color: #cccccc; 
	/* Used if the image is unavailable */
	background-position: center; /* Center the image */
	background-repeat: no-repeat; /* Do not repeat the image */
	background-size: cover; /* Resize the background image to cover the entire container */
}

.modal {
	min-height: 100%;
}

.modal1 {
	display: flex;
  	justify-content: center;
  	align-items: center;
}

.isiModal1 p {
	text-align: center;
	font-size: 45px;
	color: transparent;
	animation: effect 2s linear infinite;
}

.isiModal1 p a{
	
	color: transparent;
	text-decoration: none;
}

.isiModal1 p a:visited{
	/* color: #fae73d; */
}

p.nama {
	color: #F795F0;
	font-size: 2.5em;
	margin-bottom: 0px;
}

p.brand {
	color : #DFDADA;
	margin-top: 2px;
	font-size: 1.7em;
	
}

@keyframes effect {
	0% {
		background: linear-gradient(
				#008000, #00FF00);
		-webkit-background-clip: text;
	}

	100% {
		background: linear-gradient(
				#3CE7D7, #000FFF);
		-webkit-background-clip: text;
	}
}

@media screen and (max-width: 480px) { 

	p.nama {
	
	font-size: 1.7em;
	
	}

	p.brand {
	
	font-size: 1.2em;
	
	}

}