body {
    font-family: 'Quattrocento Sans', sans-serif;
    color: #666666;
}

H1,H2,H3,H4,H5 {
    font-family: 'Cherry Swash', cursive;
}

a {
    color: #666666;
    text-decoration: none;
}

a:hover {
    color :darkolivegreen;
    
}